# Dependencies
node_modules/
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.pnp.*

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/
*.tsbuildinfo

# Uploads
server/uploads/*
!server/uploads/.gitkeep

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
*.pem
